<br>
<br>
<br>


<div  class="container" align="center">

    <div *ngFor="let user of httpdata" class="box1" >
        <b> <p>{{ user.name }} </p></b>
    
    <b><p>{{user.email }}</p></b>
  
    <b><p>{{user.phone}}</p></b>
  
    <b><p>{{user.website}}</p></b>
    <div class="content"  >   
        <a href="https://facebook.com" ><i class="fa-brands fa-facebook" ></i></a>  
         <a href="https://twitter.com"> <i class="fa-brands fa-twitter" ></i>      </a>  
        <a href="https://google.com"> <i class="fa-brands fa-google" ></i></a>  
                  <a href="https://linkedin.com">  <i class="fa-brands fa-linkedin" ></i></a>    
                 </div>
        
    </div>
</div>